body {
    background-color:wheat;
}

#topimage{
    height: 500px;
}

#secondimage{
    height: 200px;
}

#thirdimage{
    height: 200px;
}

header{
    border: 6px solid gray;
    padding: 10px;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 50px
}