body {
    background-color:gray;
    font-family:'Courier New', Courier, monospace;
}

header{
    background-color:cornflowerblue;
    height: 100px;
}

#topimage{
    height: 400px;
}

#secondimage{
    height: 100px;
}

#thirdimage{
    height: 200px;
}

header{
    border: 6px solid rgb(138, 44, 44);
    padding: 10px;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 50px;
    background-color:lightblue;
}

.small{
    background-color:beige;
    width: 25%;
    display: inline-block;
}